:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-green: #535331;
    --color-pink: #FF7E7B;
    --color-beige-backgroud: #EEDFCC;
    --color-legth-beige-backgroud: #FBF8F1;
    --color-gray: #545454;
    
}