<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/your-kit-code.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/global/color.css">
    <link rel="stylesheet" href="../assets/css/global/fonts.css">
    <link rel="stylesheet" href="../assets/css/layout/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-main">
            <h2 class="textFooter-primary">Your favorite styles at <span>Unmissa</span>..</h2>
            <div class="footer-1">
                <div class="contato">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, debitis fugit, voluptatum corrupti eaque aspernatur similique maxime animi mollitia dignissimos nisi asperiores ad atque ipsa ducimus amet. Officia, est accusamus.</p>
                    <!-- From Uiverse.io by alexruix --> 
                    <div class="input-group">
                        <input type="email" class="input" id="Email" name="Email" placeholder="uiverse@verse.io" autocomplete="off">
                        <input class="button--submit" value="Subscribe" type="submit">
                    </div>
                </div>
                <div class="separator-footer"></div>
                <div class="footer-link">
                    <nav class="links">
                        <h4>Links rapidos</h4>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Sobre</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">Categorias</a></li>
                        </ul>
                    </nav>
                    <nav class="links">
                        <h4>Contatos</h4>
                        <ul>
                            <li><a href="">Whatsapp</a></li>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Facebook</a></li>
                        </ul>
                    </nav>
                    <nav class="links">
                        <h4>Links rapidos</h4>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Sobre</a></li>
                            <li><a href="">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>                    
    </footer>
</body>
</html>