<!--    Código do header para ser colocado dinamicamente via fetch-->

        <div class="div_header">
            <div class="header_logo">
                <a href="./../index.html">
                    <img src="./../assets/icons/𝑴𝒔𝒖𝒖.svg" alt="logo do site">
                </a>
            </div>

            <nav class="header_nav">
                    <ul class="ul_nav_Pages_Header">
                        <li><span>Home</span></li>
                        <li><span>Catalog</span></li>
                        <li><a href="./../pages/insttitucional.html">about</a></li>
                        <li><a href="./../pages/adm.html">adm</a></li>
                     </ul>
             </nav>

            <ul class="ul_Icons_Header">
                        <li><img src="./../assets/icons/search.svg" alt=""></li>
                        <li><img src="./../assets/icons/user.svg" alt=""></li>
                        <li><img src="./../assets/icons/shopping-cart.svg" alt=""></li>
            </ul> 
        </div>
