<!--    Código do header para ser colocado dinamicamente via fetch-->




<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/css/layout/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header_sistem">
            <div class="logo">
                <a href="./../index.html">
                    <img src="./../assets/icons/𝑴𝒔𝒖𝒖.svg" alt="logo do site">
                </a>
            </div>

            <section>
                <nav class="menu_desktop">
                    <ul class="ul_nav_Header">
                        <li><span>Home</span></li>
                        <li><span>Catalog</span></li>
                        <li><a href="">about</a></li>
                        <li><a href="">adm</a></li>
                     </ul>
                </nav>
            </section>
        </div>
    </header>
</body>
</html>
